/* Banner */

	#banner {
		background-attachment:fixed;
		background-color: #494d53;
		background-image:url("../images/banner.jpg");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:1400px 650px;
		color: #d1d2d4;
		position: bottom;
		text-align: center;
	}
		
		

		#banner .button {
			position: bottom;
			margin-top: 200px;
   	 		margin-bottom: 20px;
    		margin-right: 300px;
    		margin-left: 300px;
			border-color: black !important;
			color: black !important;
			cursor: pointer;
		}

			#banner .button:hover {
				background-color: darkgrey;
				cursor: pointer;
			}

			#banner .button:active {
				background-color: violet;
			}
			/* Upper Footer */

	#ufooter {
		padding: 4em 0;
		text-align: center;
		vertical-align: middle;
	}

		#ufooter h2 {
			display: inline-block;
			margin: 0 1em 0 0;
			vertical-align: middle;
		}

		#ufooter .actions {
			display: inline-block;
			margin: 0;
		}

/* Footer */

	#footer {
		color: #949494;
		padding: 4em 0;
		text-align: center;
	}

		#footer .icons {
			margin: 0 0 4em 0;
		}

		#footer .menu a {
			color: inherit;
		}

		#footer .copyright {
			font-size: 0.8em;
		}